@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
table, table td {
	padding:0;
	border:0;
	border-collapse:collapse;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display:block;
}


html{
	min-width: 1000px;
}
html ,body{
	height: 100%;
}
.container{
	width: 1000px;
	margin: 0 auto;
}


/*header*/
header .container{
	height: 445px;
	background: url(img/header-bg.jpg) no-repeat;
	position: relative;
	overflow: hidden;
}
header .container h1{
	text-indent: -9999px;
}
header .container h1 a{
	display: block;
	width: 265px;
	height: 65px;
	background: url(img/logo.gif) no-repeat left top;
	position: absolute;
	left: 68px;
	top: 20px;
}
header .container nav{
	position: absolute;
	top: 146px;
	left: 20px;
}
header .container nav ul li{
	width: 100%;
	height: 35px;
}
header .container nav ul li a{
	display: block;
	width: 195px;;
	height: 30px; 
	font: norm 25px "微软雅黑";
	line-height: 30px;
	color: #fff;
	border-radius: 10px;
	text-align: center;
}
header .container nav ul li a:hover{
	text-decoration: underline;
}
header .container nav ul li.current a{
	background: url(img/nav-act.png) no-repeat;
}
header .container nav ul li.current a:hover{
	text-decoration:none;
}
header .container .top_right{
	position: absolute;
	right: 416px;
	top: 42px;
	height: 17px;
}
header .container .top_right li{
	float: left;
	background: url(img/divider.gif) repeat-y right top;
	padding: 2px 26px 3px 0;
	margin-right: 15px;
}
header .container .top_right li#last{
	background: none;
}
header .slogan{
	position: absolute;
	width: 174px;
	height: 132px;
	background: url(img/slogan.png) no-repeat;
	left: 327px;
	top: 172px;
}

/*content*/
section#content{
	margin-top: -10px;
	position: relative;
}
#content .inside{
	padding: 0 0 142px 70px;
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
#content .indent{
	padding-bottom: 30px;
}
.col-1, .col-2, .col-3{
	float: left;
}
#content .col-1{
	width: 559px;
	margin-right: 43px;
}
.img-box{
	width: 100%;
	overflow: hidden;
	padding: 8px 0;
	line-height: 1.429em;
}
.img-box img{
	float: left;
	margin: -8px 16px 0 0;
}

.banners{
	padding-top: 40px;
}
.banners li{
	padding-bottom: 10px;
}
#content .col-2{
	width: 264px;
}
h2{
	font-size: 30px;
	line-height: 1.2em;
	color: #09a1dd;
	margin-bottom: 18px;
}
p{
	margin-bottom: 16px;
	line-height: 1.429em;
}
a{
	color: #09a1dd;
	outline: none;
}
.articles{
	width: 100%;
	overflow: hidden;
}
.articles li{
	width: 245px;
	float: left;
	margin-right: 49px;
}
.articles li.last{
	margin: 0;
}
.box{
	width: 100%;
	color: #878787;
	border: 1px solid #d9d9d9;
	background: #fafafa;
	border-radius: 15px;
	position: relative;
}
.box .icon{
	position: absolute;
	right: -20px;
	bottom: -12px;
}
.box .inner{
	padding: 26px 28px 38px 30px;
}
.link1{
	display: block;
	float: left;
	color: #fff;
	padding: 3px 3px;
	border: 1px solid #e2e7ed;
	background: #fff;
	border-radius: 6px;
	cursor: pointer;
}
.link1 span{
	display: block;
	padding: 2px 20px;
	background: #17bbe7;
	border-radius: 6px;
	float: left;
}
.link1:hover span{
	text-decoration: underline;
}
h3{
	color: #3f3f3f;
	font-size: 20px;
	line-height: 1.2em;
	margin-bottom: 10px;
}

/*footer*/
footer{
	margin-top: -80px;
	color: #4c4c4c;
	text-align: center;
	z-index: 10;
}
footer .inside{
	background: #16b9e6;
	height: 80px;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 -10px 1px #f2f2f2;
}
footer .inside p{
	line-height: 80px;
	margin-bottom: 0;
	color: #000;
}
footer .inside p a{
	color: #fff;
}


/*任务*/
.list{
	padding-bottom: 16px;
}
.list li{
	background: url(img/marker.gif) no-repeat left 5px;
	padding: 0 0 4px 11px;
}
.list li a{
	text-decoration: underline;
}
.list li a:hover{
	text-decoration: none;
}
#content .img-box .col-1{
	width: 219px;
	margin-right: 84px;
}
#content .img-box .col-2{
	width: 207px;
}

/*新闻*/
.news{
	margin-top: -16px;
}
.news li{
	width: 100%;
	overflow: hidden;
	line-height: 1.429em;
	vertical-align: top;
	padding-top: 40px;
}
.news li img{
	float: left;
	margin: -25px 18px 0 0;
}
.news li strong{
	display: block;
	font-size: .857em;
	line-height: 1.2em;
	padding-bottom: 3px;
}

/*工作*/
#content .col-3{
	width: 258px;
	margin-right: 42px;
	font-size: 14px;
}
#content .col-3 p{
	margin-top: 20px;
}

/*研讨*/
.seminars li{
	height: 86px;
	line-height: 1.429em;
	background: url(img/icon-marker.gif) left top no-repeat;
	padding: 0 0 26px 98px;
}
.seminars li.last{
	padding-bottom: 0;
}
.seminars li strong{
	display: block;
	padding-right: 17px;
}

/*联系*/
.contact input{
	width: 264px;
	height: 25px;
	background: none;
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 0 0 5px 20px;
}
.contact textarea{
	width: 452px;
	height: 383px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-left: 20px;
	vertical-align: top;
}
.contact button{
	color: #fff;
	padding: 3px 3px;
	border: 1px solid #e2e7ed;
	background: #fff;
	border-radius: 6px;
	margin-top: 8px;
	margin-left: 50%;
	cursor: pointer;
}
.contact button a{
	display: block;
	padding: 2px 20px;
	background: #17bbe7;
	border-radius: 5px;
	color: #fff;
}
